@font-face {
  font-family: 'Pretendard_Rg';
  src: url('Pretendard-Regular.ttf');
}

@font-face {
  font-family: 'Magnolia';
  src: url('Magnolia\ Script.otf');
}

@font-face {
  font-family: 'Gyeonggi_Rg';
  src: url('경기천년바탕_Regular.ttf');
}
